#grid {
  margin: 0;
  padding: 0;
  position: absolute;
  left: 175px;
  width: calc(100% - 175px);

  @include phone {
    width: 100%;
    left: 0;
  }

  .row {
    margin: 0;
    padding: 0;
    float:right;
    overflow: hidden;
  }

  .col-md-3 {
    margin: 0;
    padding: 0;
    height: 250px;
    object-fit: cover;
  }
  //
  // @include tablet {
  //   .col-sm-6 {
  //     height: 225px;
  //   }
  // }
  //
  @include phone {
    .col-xs-12 {
      height: 400px;
    }
  }

  img {
    display: table-cell;;
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: .8;
    -webkit-filter: grayscale(.5);
    filter: grayscale(.5);

    &:hover {
      opacity: 1;
      -webkit-filter: grayscale(0);
      filter: grayscale(0);
      @include transition(all .3s ease);
    }
  }

  // figure {
  //   overflow: hidden;
  //   position: absolute;
  // }
  //
  // figcaption {
  //   -webkit-backface-visibility: hidden;
  // 	backface-visibility: hidden;
  //   width: 100%;
  // 	height: 100%;
  //   top: auto;
  // 	bottom: 0;
  // 	padding: 1em;
  // 	height: 3.75em;
  // 	background: #fff;
  // 	color: #3c4a50;
  // 	-webkit-transition: -webkit-transform 0.35s;
  // 	transition: transform 0.35s;
  // 	-webkit-transform: translate3d(0,100%,0);
  // 	transform: translate3d(0,100%,0);
  // }
}
